@model IEnumerable<MIS421FinalProjectGit.Models.MyBill>

@{
    ViewData["Title"] = "Bills";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/bc8d2b84e8.js" crossorigin="anonymous"></script>

<head>
 <script src="https://kit.fontawesome.com/bc8d2b84e8.js" crossorigin="anonymous"></script>
</head>


<body>

     <div class="container-stock-ticker">
         
         <div id="crypto"><i class='fab fa-bitcoin fa-spin fa-3x'style="color:#10316b"></i>Bitcoin  |
         <p id="bitcoin-ticker">----</p> 
         </div>
         <div id="crypto"><i class='fas fa-bomb fa-spin fa-3x'style="color:#e4663a"></i>Terra  |
         <p id="terra-ticker">----</p> 
         </div>
         <div id="crypto"><i class='fas fa-bomb fa-spin fa-3x'style="color:#40356f"></i>cardano  |
         <p id="cardano-ticker">----</p> 
         </div>
         <div id="crypto"><i class='fab fa-ethereum fa-spin fa-3x'style="color:#f8b400"></i>Ethereum
         <p id="stock-ticker">----</p> 
         </div>
    </div>  

     <h1 class="budget-month">This Month</h1>

<div class="lillian">
    <table class="table table-dark">
    <thead>
        <tr ">
            <th>
                @Html.DisplayNameFor(model => model.BillType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <p>$@Html.DisplayFor(modelItem => item.Amount)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-pill"><a style="color:white" asp-action="Edit" asp-route-id="@item.BillID">Edit</a> </button>
                <button type="button" class="btn btn-primary btn-pill"><a style="color:white" asp-action="Delete" asp-route-id="@item.BillID">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>

<button type="button" class="btn btn-primary btn-pill">
    <a style="color:white" asp-action="Create">Add Bill</a>
</button>

</div>


</body>