@model IEnumerable<MIS421FinalProjectGit.Models.Bill>

@{
    ViewData["Title"] = "Bills";
}

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BillType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <p>$@Html.DisplayFor(modelItem => item.Amount)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-pill"><a style="color:white" asp-action="Edit" asp-route-id="@item.BillID">Edit</a> </button>
                <button type="button" class="btn btn-primary btn-pill"><a style="color:white" asp-action="Delete" asp-route-id="@item.BillID">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>

<button type="button" class="btn btn-primary btn-pill">
    <a style="color:white" asp-action="Create">Add Bill</a>
</button>
