@model IEnumerable<MIS421FinalProjectGit.Models.Investments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvestmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RiskLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestmentImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvestmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccountID)
            </td>
           

             <td>

                @if (item.InvestmentImage != null)
                {
                    var base64 = Convert.ToBase64String(item.InvestmentImage);
                    var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src="@imgSrc" style="height:100px; max-width=500px;border-radius:50%" />

                    //An alternative was to display the image is below. The method below does not enforce security though but may be useful in certain cases.                  
             }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.BillID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
