@model IEnumerable<MIS421FinalProjectGit.Models.Investments>

@{
    ViewData["Title"] = "Investments";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/bc8d2b84e8.js" crossorigin="anonymous"></script>

<head>
 <script src="https://kit.fontawesome.com/bc8d2b84e8.js" crossorigin="anonymous"></script>
</head>
<body>


   
    <div class="container-stock-ticker">
         
         <div id="crypto"><i class='fab fa-bitcoin fa-spin fa-3x'></i>Bitcoin  |
         <p id="bitcoin-ticker">----</p> 
         </div>
         <div id="crypto"><i class='fas fa-bomb fa-spin fa-3x'></i>Terra  |
         <p id="terra-ticker">----</p> 
         </div>
         <div id="crypto"><i class='fas fa-bomb fa-spin fa-3x'></i>cardano  |
         <p id="cardano-ticker">----</p> 
         </div>
         <div id="crypto"><i class='fab fa-ethereum fa-spin fa-3x'></i>Ethereum
         <p id="stock-ticker">----</p> 
         </div>
    </div>  

     
   
    <h1 style="text-align:center" id="investment-instruments-container"><b>Investment Instruments</b></h1>

<div class="container-slides">
   <div class="container-mySlides">
       <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <a href="https://www.forbes.com/advisor/investing/buy-stocks/">
        <img  src="https://static.seekingalpha.com/cdn/s3/uploads/getty_images/1304072871/image_1304072871.jpg?io=getty-c-w750" style="width:85%; height:45%">
    </a>
  </div>

  <div class="mySlides">
       <div class="numbertext">1 / 5</div>
    <a href="https://www.investor.gov/introduction-investing/investing-basics/investment-products/bonds-or-fixed-income-products/bonds">
            <img class="demo cursor" src="http://finvestable.com/blog/wp-content/uploads/2021/01/Mutual-funds.jpg" style="width:85%" onclick="currentSlide(2)" alt="Bonds">
      </a>
  </div>

  <div class="mySlides">
       <div class="numbertext">1 / 4</div>
    <a href="https://www.nerdwallet.com/article/investing/index-funds-vs-mutual-funds">
          <img class="demo cursor" src="https://img.money.com/2022/01/Best-CD-Rates-2022.jpg?quality=85" style="width:85%" onclick="currentSlide(3)" alt="Mutual Funds And Index Mutual Funds">
      </a>
  </div>
    
  <div class="mySlides">
       <div class="numbertext">1 / 3</div>
     <a href="https://www.finra.org/investors/learn-to-invest/types-investments/bank-products/certificates-deposit-cds">
          <img class="demo cursor" src="https://miro.medium.com/max/800/1*7JL28neFCnikvksNOksp7w.png" style="width:85%" onclick="currentSlide(4)" alt="Certificates of deposits">
      </a>
  </div>

  <div class="mySlides">
    <a href="https://www.reit.com/what-reit">
         <div class="numbertext">1 / 2</div>
          <img class="demo cursor" src="https://static.seekingalpha.com/cdn/s3/uploads/getty_images/1303055097/image_1303055097.jpg?io=getty-c-crop-4-3" style="width:85%" onclick="currentSlide(5)" alt="Real estate investment trusts ">
      </a>
  </div>
    
  <div class="mySlides">
       <div class="numbertext">1 / 1</div>
     <a href="https://www.investor.gov/introduction-investing/investing-basics/investment-products/mutual-funds-and-exchange-traded-2">
          <img class="demo cursor" src="https://static.seekingalpha.com/cdn/s3/uploads/getty_images/1303055097/image_1303055097.jpg?io=getty-c-crop-4-3" style="width:85%" onclick="currentSlide(6)" alt="Exchange-traded funds">
      </a>
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  
   </div>

  

  <div class="row">
    <div class="column">
      <a href="https://www.forbes.com/advisor/investing/buy-stocks/">
            <img class="demo cursor-t" style="height:115px; width:100%" src="https://www.clevergirlfinance.com/wp-content/uploads/2021/03/Buying-individual-stocks.jpg"  onclick="currentSlide(1)" alt="Individual Stocks">
      </a>
    </div>
    <div class="column">
      <a href="https://www.investor.gov/introduction-investing/investing-basics/investment-products/bonds-or-fixed-income-products/bonds">
            <img class="demo cursor-t" style="height:115px; width:100%" src="https://static.seekingalpha.com/cdn/s3/uploads/getty_images/1304072871/image_1304072871.jpg?io=getty-c-w750"  onclick="currentSlide(2)" alt="Bonds">
      </a>
    </div>
    <div class="column">
      <a href="https://www.nerdwallet.com/article/investing/index-funds-vs-mutual-funds">
          <img class="demo cursor-t" style="height:115px; width:100%" src="http://finvestable.com/blog/wp-content/uploads/2021/01/Mutual-funds.jpg"  onclick="currentSlide(3)" alt="Mutual Funds And Index Mutual Funds">
      </a>
    </div>
    <div class="column">
      <a href="https://www.finra.org/investors/learn-to-invest/types-investments/bank-products/certificates-deposit-cds">
          <img class="demo cursor-t" style="height:115px; width:100%" src="https://img.money.com/2022/01/Best-CD-Rates-2022.jpg?quality=85"  onclick="currentSlide(4)" alt="Certificates of deposits">
      </a>
    </div>
    <div class="column">
      <a href="https://www.reit.com/what-reit">
          <img class="demo cursor-t" style="height:115px; width:100%" src="https://miro.medium.com/max/800/1*7JL28neFCnikvksNOksp7w.png"  onclick="currentSlide(5)" alt="Real estate investment trusts ">
      </a>
    </div>    
    <div class="column">
      <a href="https://www.investor.gov/introduction-investing/investing-basics/investment-products/mutual-funds-and-exchange-traded-2">
          <img class="demo cursor-t" style="height:115px; width:100%" src="https://static.seekingalpha.com/cdn/s3/uploads/getty_images/1303055097/image_1303055097.jpg?io=getty-c-crop-4-3"  onclick="currentSlide(6)" alt="Exchange-traded funds">
      </a>
    </div>
  </div>
</div>

 <div id="myInvestments">
     <h1  style="text-align:center" id="myInvestments-insider"><b>My Investments</b></h1>

     <table class="table-clear">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.InvestmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RiskLevel)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.BillID)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
   

            <td>
                @Html.DisplayFor(modelItem => item.InvestmentType)
            </td>
            <td>
                <p>$@Html.DisplayFor(modelItem => item.Description)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskLevel)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.BillID)
            </td>
           
            <td id="botton-container">
                <a asp-action="Edit" asp-route-id="@item.BillID" style="color:white">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillID" style="color:white">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillID" style="color:white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<button type="button" class="btn btn-primary btn-pill-last">
    <a style="color:white" asp-action="Create">Add Investment</a>
</button>


 </div>




<!--JavaScript Functions-->
 <script src="/js/site.js"></script>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>



</body>




















  