@model IEnumerable<MIS421FinalProjectGit.Models.Budget>

@{
    ViewData["Title"] = "Budgets";
}
<head>
    <script src="https://kit.fontawesome.com/bc8d2b84e8.js" crossorigin="anonymous"></script>
</head>


<div class="wrapper">
    <div class="balance-container">
    <div class="balance-title">
        <h3>Balance</h3>
        <div id="balance-amount">
            <h1>$      ---</h1>
        </div>
        <div class="budget-add"><a asp-action="Create" class="budget-add"><i class='fas fa-plus fa-stack-1x fa-'>Budget</i></a></div>
    </div>

</div>


<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BugetItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccountID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BugetItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccountID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BudgetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BudgetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BudgetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


</div>
