@model IEnumerable<MIS421FinalProjectGit.Models.Budget>

@{
    ViewData["Title"] = "Budgets";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BugetItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccountID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BugetItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccountID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BudgetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BudgetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BudgetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
