@model IEnumerable<MIS421FinalProjectGit.Models.BudgetViewModel>

@{
    ViewData["Title"] = "Budgets";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftoverEarnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.initialBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftoverEarnings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.initialBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BudgetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BudgetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BudgetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
