@model IEnumerable<MIS421FinalProjectGit.Models.BudgetViewModel>

@{
    ViewData["Title"] = "Budgets";
}




<h1 class="budget-month">This Month</h1>

<div class="budget-add">
    <p>
    <a asp-action="Create"><span class='fa-stack fa-lg' id="add-budget" style="color:darkorange">
        <i class='fas fa-circle fa-stack-2x'></i>
        <i class='fas fa-plus fa-stack-1x fa-inverse'></i>
    </span>Add Balance</a>
    </p>

</div>



<div id="myInvestments">


    <table class="table table-info">
    <thead >
        <tr id="try" >
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftoverEarnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.initialBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftoverEarnings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.initialBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserID)
            </td>
            <td>
                 <button type="button" class="btn btn-primary btn-pill"><a style="color:white" asp-action="Edit" asp-route-id="@item.BudgetID">Edit</a></button> |
                 <button type="button" class="btn btn-primary btn-pill"><a style="color:white" asp-action="Details" asp-route-id="@item.BudgetID">Details</a></button> |
                 <button type="button" class="btn btn-primary btn-pill"><a style="color:white" asp-action="Delete" asp-route-id="@item.BudgetID">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

